<p>
  <%= f.label :line1, 'Address 1:' %><br />
  <%= f.text_field :line1 %>
</p>

<p>
  <%= f.label :line2, 'Address 2:' %><br />
  <%= f.text_field :line2 %>
</p>

<p>
  <%= f.label :city, 'City:' %><br />
  <%= f.text_field :city %>
</p>

<p>
  <%= f.label :state,'State:' %><br />
  <%= f.text_field :state, :size => 2 %>
</p>

<p>
  <%= f.label :zipcode, 'Zipcode:' %><br />
  <%= f.text_field :zipcode %>
</p>